<h1>Welcome to the show page</h1>
  <div class="card text-center booyah-box">
  <div class="card-header">
    Written by:
  </div>
  <div class="card-block">
  <h4 class="card-title"><%= @place.name %></h4>
 <p class=""> <%= @place.address %></p>
  <p class=""><%= @place.description %></p>
  <div class="card-footer text-muted">
    E-mail
  </div>
  </div>
</div>